<div class="admin-menu">
    <a href="{{ path("history_admin_index") }}" class="btn btn-info">
        Accueil admin
    </a>
    <a href="{{ path("history_new_person") }}" class="btn btn-info">    
        Ajouter des points
    </a>
    <a href="{{ path("history_suggestions") }}" class="btn btn-info">    
        Suggestions utilisateurs
    </a>
    <a href="{{ path("history_thematiques") }}" class="btn btn-info">    
        Thématiques
    </a>
    <a href="{{ path("history_logout") }}" class="btn btn-info">    
        Déconnexion
    </a>

</div>