{% extends "HistoryBundle:History:base.html.twig" %}

{% block content %}
    <div id="map">

    </div>

    <div class="showbox">
        <div class="loader">
            <img src="/public/images/gears.gif">
        </div>
    </div>

    <div class="slider-wrapper">
        <div class="title-site">
            <a href="">
                <i class="fa fa-globe"></i> Hist Map
            </a><br>
            La carte historique collaborative
        </div><!--
     --><div>
            <input type="text" id="input-from">
        </div><!--
        --><div id="slider-range"></div><!--
     --><div>
            <input type="text" id="input-to">
        </div>
        <div class="div-gender-filter">
            {% for key, gender in genders %}
                <span class="checkbox">
                    <label for="{{ gender }}">
                        <input class="filter-activator" checked="checked" type="checkbox" name="{{ gender }}" value="true" id="{{ gender }}">
                        {{ key }}
                    </label>
                </span>
            {% endfor %}
        </div>
        <div class="div-event-type-filter">
            {% for key, eventType in eventTypes %}
                <span class="checkbox">
                    <label for="{{ eventType.nom }}">
                        <input class="filter-activator eventType" checked="checked" type="checkbox" name="{{ eventType.nom }}" value="{{ eventType.id }}" id="{{ eventType.nom }}">
                        {{ eventType.nom }}
                    </label>
                </span>
            {% endfor %}
        </div>
        <div class="div-name-filter">
            <input type="text" name="person-name" id="person-name" placeholder="Ex : Napoléon Bonaparte">
        </div>
        <div class="div-submit-search">
            <button type="submit" class="btn btn-info">
                <i class="fa fa-search" aria-hidden="true"></i> Rechercher
            </button>
        </div>
    </div>
    <script type="text/javascript">
        var from = {{ from }};
        var to = {{ to }};
        var icon = "/public/images/marker-icon.png";

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 45.738323, lng: 4.860955},
                minZoom: 2,
                zoom: 3,
                styles: [{"featureType":"landscape","stylers":[{"saturation":-7},{"gamma":1.02},{"hue":"#ffc300"},{"lightness":-10}]},{"featureType":"road.highway","stylers":[{"hue":"#ffaa00"},{"saturation":-45},{"gamma":1},{"lightness":-4}]},{"featureType":"road.arterial","stylers":[{"hue":"#ffaa00"},{"lightness":-10},{"saturation":64},{"gamma":0.9}]},{"featureType":"road.local","stylers":[{"lightness":-5},{"hue":"#00f6ff"},{"saturation":-40},{"gamma":0.75}]},{"featureType":"poi","stylers":[{"saturation":-30},{"lightness":11},{"gamma":0.5},{"hue":"#ff8000"}]},{"featureType":"water","stylers":[{"hue":"#0077ff"},{"gamma":1.25},{"saturation":-22},{"lightness":-31}]}],
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                    position: google.maps.ControlPosition.TOP_CENTER
                },
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.TOP_CENTER
                },
                scaleControl: true,
                streetViewControl: false
            });
            var contentString = [];
        }

        var clusterStyles = [
            {
                textColor: 'white',
                url: 'markerclusterer/images/m1.png',
                height: 40,
                width: 42
            },
            {
                textColor: '#111',
                url: 'markerclusterer/images/m2.png',
                height: 50,
                width: 50
            },
            {
                textColor: 'white',
                url: 'markerclusterer/images/m3.png',
                height: 60,
                width: 60
            }
        ];

        var options = {
            imagePath: 'markerclusterer/images/m',
            textColor: "#fff",
            styles: clusterStyles
        };

        marker = [];
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw0QmEHjgwLq7FHQu3jwrOBL1p4wpMmMw&callback=initMap">

    </script>


    {% include 'HistoryBundle:History:about.html.twig' %}

{% endblock %}