{% extends "HistoryBundle:History:admin/admin-base.html.twig" %}

{% block content %}
    <div class="link-list-admin">
        {% for link in links %}
            <form method="post" class="link-element-admin">
                <b>{{ link.from.nom }}</b> est {{ link.linkType.nom }} de <b>{{ link.to.nom }}</b>
                <input type="hidden" name="link_id" value="{{ link.id }}">
                <button type="submit" class="btn btn-xs btn-danger">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </form>
        {% endfor %}
    </div><!--
    --><div class="link-list-admin">
        {% for personne in personnes %}
            <a class="link-list-img" href="{{ path("history_link", {"id": personne.id}) }}" title="{{ personne.nom }}">
                <img src="/public/personne/{{ personne.ref }}.jpg">
            </a>
        {% endfor %}
    </div>

{% endblock %}