{% extends "HistoryBundle:History:admin/admin-base.html.twig" %}

{% block content %}

    <div class="wrapper-suggestions">

        {% for key, suggestion in suggestions %}
            <form enctype="multipart/form-data" method="post" class="suggestion-line">
                <div class="suggestion-part user-part">
                    <h3>
                        {{ nbSuggestions }} suggestion(s)
                    </h3>
                    <b>Personne :</b> {{ suggestion.getPersonName() }}<br>
                    <b>Wiki :</b> {{ suggestion.getWiki() }}<br>
                    <b>Lieu :</b> {{ suggestion.getPlaceName() }}<br>
                    <b>Année :</b> {{ suggestion.getDate() }}<br>
                    <b>Événement :</b> {{ suggestion.getEventName() }}<br>
                    <hr>
                    <label class="label-highlight">
                        <b>Photo upload</b>
                        <input type="radio" name="photo_type" value="upload">
                    </label><br>
                    <b>Photo :</b> <input type="file" name="person_picture"><br>
                    <label class="label-highlight">
                        <b>Photo Wikipédia</b>
                        <input type="radio" name="photo_type" value="wiki" checked>
                    </label>
                    {% if suggestion.image is defined %}
                        <div class="suggestion-radio">
                            {% for key, image in suggestion.image %}
                                <label>
                                    {{ key + 1 }}
                                    <input type="radio" name="wiki_picture" value="{{ image }}" {% if key == 0 %}checked{% endif %}> -
                                </label>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if suggestion.image is defined %}
                        <div class="suggestion-images">
                            {% for image in suggestion.image %}
                                <a href="{{ image }}" target="_blank">
                                    <img src="{{ image }}">
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div><!--
                --><div class="suggestion-part corrected-part">
                    <h3>
                        Correction
                    </h3>
                    <b>Personne :</b> <input type="text" name="person_name" value="{{ suggestion.getPersonName() }}">
                    - <label for="new_person" class="label-highlight">
                    <input type="radio" name="new_person" {% if suggestion.personne is null %}checked="checked"{% endif %} value="true" id="new_person">Nouvelle personne</label>
                    <br>
                    <br>
                    <b>Sexe :</b> <input type="radio" id="homme" name="gender" value="1" checked="checked"><label for="homme">Homme</label> <input type="radio" id="femme" name="gender" value="2"><label for="femme">Femme</label><br>
                    <b>Wiki :</b> <input type="text" name="wiki" value="{{ suggestion.getWiki() }}">
                    <a href="{{ suggestion.getWiki() }}" target="_blank" class="btn btn-info">
                        Ouvrir le wiki
                    </a><br>
                    <hr>
                    <select name="person_id">
                        {% for personne in personnes %}
                            <option value="{{ personne.getId() }}" {% if suggestion.personne is not null and personne.id == suggestion.personne.id %}selected{% endif %}>
                                {{ personne.getNom() }}
                            </option>
                        {% endfor %}
                    </select>
                    - <label for="old_person" class="label-highlight">
                    <input type="radio" name="new_person" value="false" id="old_person" {% if suggestion.personne is not null %}checked="checked"{% endif %}>Personne existante</label><br>
                    <hr>
                    <b>Lieu :</b> <input type="text" name="place_name" class="place-name" value="{{ suggestion.getPlaceName() }}">
                    <input type="button" class="localize-place-suggestions" value="Localiser">
                    <input type="text" class="lat" name="place_lat">
                    <input type="text" class="lng" name="place_lng"><br>
                    <label for="new_place" class="label-highlight"><input type="radio" name="new_place" checked="checked"  value="true" id="new_place">Nouveau lieu</label>
                    <br>

                    <hr>
                    <select name="place_id">
                        {% for place in places %}g
                            <option value="{{ place.getId() }}">
                                {{ place.getNom() }}
                            </option>
                        {% endfor %}
                    </select> - <label for="old_place" class="label-highlight"><input type="radio" name="new_place" value="false" id="old_place">Lieu existant</label><br>

                    <hr>
                    <b>Année :</b> <input type="text" name="date" value="{{ suggestion.getDate() }}"><br>
                    <b>Événement :</b> <input type="text" name="event_name" value="{{ suggestion.getEventName() }}"><br>
                    <b>Type d'événement</b>
                    <select name="event_type">
                        {% for key, type in eventTypes %}
                            <option value="{{ type.getId() }}">
                                {{ type.getNom() }}
                            </option>
                        {% endfor %}
                    </select>
                </div><!--
                --><div class="suggestion-part wiki-part">
                    <input type="hidden" name="suggestion_id" value="{{ suggestion.getId() }}">
                    <button type="submit" name="suggestion_action" value="validate" class="btn btn-success">
                        Valider la suggestion
                    </button>
                    <button type="submit" name="suggestion_action" value="delete" class="btn btn-warning">
                        Supprimer la suggestion
                    </button>
                </div>
            </form>
        {% endfor %}
        {% if suggestions is empty %}
            <div class="suggestion-line">
                Aucune suggestion
            </div>
        {% endif %}
    </div>

{% endblock %}