{% extends "HistoryBundle:History:front/base.html.twig" %}

{% block content %}
    <div class="header">
        <div class="title-site">
            <a href="{{ path("history_histlink") }}">
                <i class="fa fa-users"></i> Hist Link
            </a>
            <span>
                Le réseau historique collaboratif
            </span>
        </div>
    </div>

    {% include "HistoryBundle:History:front/histlink-left-panel.html.twig" %}

    <div class="histlink-person-name">
        <div class="img-person-name"><img src="/public/personne/{{ personne.ref }}.jpg"></div>
        <div class="histlink-person-name-wrapper">{{ personne.nom }}</div>
    </div>

    <div id="mynetwork"></div>

    <script>
        nodesArray = [{id: 1, shape: "circularImage", title: "{{ personne.nom }}", size: 80, image: "/public/personne/{{ personne.ref }}.jpg", fixed: true}];
        edgesArray = [];
        nodesLinks = [{ "url": "{{ path("history_histlink_personne", {"id": personne.id}) }}" }]
        counter = 2;

        {% for key, pers in personnes %}
            {% if key != 0 %}
                nodesArray.push({
                    id: {{ key + 1 }},
                    title: "Nom : {{ pers.nom }}",
                    shape: "circularImage",
                    image: "/public/personne/{{ pers.ref }}.jpg"
                });

                nodesLinks.push({ "url": "{{ path("history_histlink_personne", {"id": pers.id}) }}" });
            {% endif %}

        {% endfor %}

        {% for key, link in links %}

            edgesArray.push({
                from: {{ indexPersonnes[link["from"].id] }},
                to: {{ indexPersonnes[link["to"].id] }},
                title: "Lien : {{ link["linkType"] }}"
            });

        {% endfor %}
    </script>

{% endblock %}